@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body, html{
    font-family: Rubik;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(116, 176, 255);
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

.container{
    border: 10px solid rgb(87, 118, 255);
    justify-content: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 85%;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    color: white;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.lista{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: rgb(27, 27, 27);
    height: 450px;
    overflow-y: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-x: hidden;
}

.lista h2{

    font-size: 1.4rem;
    padding: 10px;
    color: rgb(255, 255, 255);
    border: rgb(105, 175, 255) 1px solid;
    border-radius: 10px;
    width: fit-content;
    margin-top: 20px;
}

.lista h2:first-of-type{
    margin-top: 0;
    margin-bottom: 0;
}

.lista p{
    margin-bottom: 0;
    font-size: 1.3rem;
}

.lista::-webkit-scrollbar{
    background-color: rgb(27, 27, 27);
    width: 10px;
}

.lista::-webkit-scrollbar-thumb{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}


.informacoes{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    height: 450px;
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
}

.informacoes h1{
    text-align: center;
    width: 300px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(68, 171, 255);
    font-size: 30px;
}

.informacoes li{
    font-size: 23px;
}



.contatos{
    flex-direction: column;
    display: flex;
    color: white;
    background-color: rgb(24, 24, 24);
    position: fixed;
    top: 0;
    left: 0;
    height: fit-content;
    margin: 4px;
    border-radius: 10px;
}



#contatosText{
    display: flex;
    font-size: 13px;
    max-height: 0;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

#contatosText svg{
    margin-right: 10px;
}

#contatosIn{
    align-items: center;
    display: flex;
    flex-direction: row;

}


#contatosTop, #contatosTop a{
    align-items: center;
    display: flex;
    flex-direction: row;
}

#contatosTop a{
    width: fit-content;
}

#contatosTop svg{
    color: white;
    margin-left: 20px;
    transition: 0.5s;
}

#contatosTop svg:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

#contatosTop h1{
    text-align: center;
    flex: 1;
    font-size: 15px;
}



.informacoes #profile{
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
}

#git{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1.2px rgb(255, 255, 255);
    margin-top: 80px;
}

#gitImg, a{
    border-radius: 10px;
    width: 50px;
    height: 50px;
    transition: 0.5s;
}

#gitImg:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 0px 2px rgb(102, 178, 255);
}



@media (max-width: 1000px) {
    .container{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .informacoes{
        width: 300px;
    }
}

@media (max-width: 820px) {
    .informacoes{
        width: 300px;
    }
}

@media (max-width: 412px) {
    .container{
        margin-top: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        
    }

    #linha{
        transform: rotate(80deg);
        min-height: 40%;
        min-width: 1500px;
    }
    .lista{
        height: 300px;
        width: 90%;
        padding-bottom: 20px;
    }

    #git{
        margin-bottom: 50px;
    }


}